# Ignore generated NVDA addon packages
*.nvda-addon

# Ignore logs
*.log

# Ignore text output files
*.txt
!requirements.txt

# Ignore Python cache
__pycache__/
*.pyc
grabber.py

# Ignore build folders
build/
dist/
archives/
DevGuide.wiki/

# Build/translation scripts
pybabel.py